<div class="add-button" ><button class="align-right" mat-raised-button color="accent" (click)="openDialog()">Add Account</button></div>
<div class="page-content" >
  <div class="list-content">
    <table mat-table [dataSource]="accounts" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
      </ng-container>
      <ng-container matColumnDef="cleared_bal">
        <th mat-header-cell *matHeaderCellDef> Cleared Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.cleared_bal}} </td>
      </ng-container>
      <ng-container matColumnDef="uncleared_bal">
        <th mat-header-cell *matHeaderCellDef> Uncleared Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.uncleared_bal}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row, let i = index; columns: displayedColumns;" class="body-data-row"
      [ngClass] = "{'active-row-class' : selectedRowIndex === i}"
      (click)="showAccountDetail(row, i)"></tr>
    </table>
  </div>
  <div class="detail-content">
    <div class="item">
      <div class="mat-title"> Account Name : </div>
      <div class="mat-subheading-2">{{defaultAccount?.name}}</div>
    </div>
    <div class="item">
      <div class="mat-title">Account Type : </div>
      <div class="mat-subheading-2">{{defaultAccount?.type}}</div>
    </div>
    <div class="item">
      <div class="mat-title">Account Balance : </div>
      <div class="mat-subheading-2">{{defaultAccount?.balance}}</div>
    </div>
    <div class="item">
      <div class="mat-title">Cleared Balance : </div>
      <div class="mat-subheading-2">{{defaultAccount?.cleared_bal}}</div>
    </div>
    <div class="item">
      <div class="mat-title">Uncleared Balance : </div>
      <div class="mat-subheading-2">{{defaultAccount?.uncleared_bal}}</div>
    </div>
  </div>
</div>
<div class="loader-content" *ngIf="showLoader">
  <mat-spinner></mat-spinner>
</div>
