.app-container {
  display: flex;
  justify-content: space-evenly;

  .side-nave-container {
    margin-top: 8px;
    width: 10%;
    min-height: 200px;
    .side-nav {
      height: 700px;
    }
    .mat-toolbar-row,
    .mat-toolbar-single-row {
      flex-wrap: wrap;
    }
  }

  .content-container {
    width: 90%;
    min-height: 200px;
  }
}
