html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader-content {
  background-color: rgb(185, 167, 202);
  opacity: 0.4;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

th.mat-header-cell {
  font-size: 16px;
  font-weight: bold;
}

.active-row-class {
  background-color: #e2aec2;
}
